/* ===================================================================
common style
=================================================================== */
body {
  margin: 0 0;
  width: 100%; 
  font-family: Ubuntu,Verdana,"游ゴシック ",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif; }


header {
  height: 60px;
  background-color: black;
  color: white; }
  header nav {
    width: 1024px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 6px;
	font-weight:bold; }
    header nav img {
      float: left; }
    header nav ul {
      margin-top: 5px;
      overflow: hidden; }
      header nav ul li {
        margin-top: 10px;
        width: 100px;
        list-style-type: none;
        float: left;
        font-size: 15px; }
        header nav ul li a:visited, header nav ul li a:link {
          color: white;
          text-decoration: none; }
        header nav ul li a:hover {
          -webkit-transform: scale(1.2, 1.2);
              -ms-transform: scale(1.2, 1.2);
                  transform: scale(1.2, 1.2);
          color: yellow; }

footer .news {
  background-color: #808080; }
  footer .news p {
    margin-left: 10%;
    color: white;
    padding: 10px 10px 10px 10px; }
footer .copy {
  margin-top: -20px;
  height: 70px;
  background-color: #000011; }
  footer .copy a {
    color: #ffffff;
	text-decoration:none; }
  footer .copy p {
    padding-top: 30px;
    color: #ffffff;
    text-align: center;}
